.card{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--color-card-body);
    align-items: center;
    width: calc(33.33% - 20px);
    justify-content: space-between;
    margin-bottom: 20px;
    border: 0.8px solid rgb(197, 193, 193);
    -webkit-box-shadow: 2px 0px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 8px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 8px -1px rgba(0,0,0,0.75);

}

h3{
    padding: 0;
    margin: 0;
}
.card-title{
    background-color: var(--color-card-title);
    color: var(--secondary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    text-align: center;
}

.card-body{
    height: 200px;
}

p{
    margin: 0;
}

.card-footer{
    background-color: rgb(155, 155, 155);
    color: rgb(99, 93, 93);
    width: 100%;
    text-align: right;
    border: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}